<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.seckill.mapper.OrderInfoMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into t_order_info (order_no,user_id,product_id,product_img,delivery_addr_id,product_name,product_price,seckill_price,status,create_date,pay_date,seckill_date,seckill_time,seckill_id,intergral)
            values
            (#{orderNo},#{userId},#{productId},#{productImg},#{deliveryAddrId},#{productName},#{productPrice},#{seckillPrice},#{status},#{createDate},#{payDate},#{seckillDate},#{seckillTime},#{seckillId},#{intergral})
  </insert>


    <select id="find" resultType="com.ruoyi.seckill.api.model.OrderInfo">
        select * from t_order_info where order_no = #{orderNo}
    </select>

    <update id="updateCancelStatus">
        update t_order_info set status = #{status} where order_no= #{orderNo} and status = 0
    </update>
</mapper>