<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.seckill.mapper.SeckillProductMapper" >

    <resultMap type="SeckillProduct" id="SeckillProductResult">
        <id     property="id"       column="id"      />
        <result property="productId"       column="product_id"      />
        <result property="seckillPrice"     column="seckill_price"    />
        <result property="intergral"     column="intergral"    />
        <result property="stockCount"        column="stock_count"        />
        <result property="startDate"  column="start_date"  />
        <result property="time"          column="time"          />
    </resultMap>

    <select id="queryCurrentlySeckillProduct" resultType="com.ruoyi.seckill.api.model.SeckillProduct" resultMap="SeckillProductResult">
        select id,product_id,seckill_price,stock_count,time,intergral,start_date from t_seckill_product where to_days(start_date) = to_days(now()) and time = #{time} ;
    </select>

    <update id="decrStock">
        update t_seckill_product set stock_count = stock_count - 1 where id = #{seckillId} and stock_count>0
    </update>

    <update id="incrStock">
        update t_seckill_product set stock_count = stock_count + 1 where id = #{seckillId}
    </update>

    <select id="getStockCount" decrStock="int">
        select stock_count from t_seckill_product where id = #{seckillId}
    </select>
</mapper>